
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f7f7f7; /* Light gray background */
}
.register-container .text-right{
  align-items: right;

}
.register-form {
  width: 100%;
  max-width: 400px; /* Adjust the width of the form */
  padding: 15px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); /* Optional: add shadow for a "card" effect */
  background: #ffffff; /* White background */
}
.regis-heading {
  text-align: center;
  margin-bottom: 20px;
}
.login-container {
  height: 100vh; /* Full viewport height */
  background-color: #f7f7f7; /* Light gray background */
}

.login-form {
  width: 100%;
  max-width: 400px; /* Adjust the width of the form */
  padding: 15px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); 
  background: #ffffff; /* White background */
}

/* SensorBlock.css */
.sensor-block-container {
  display: flex;
  flex-direction: column;
  width: 100%;          /* Use the full width of the container */
  max-width: 1150px; 
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for aesthetics */
  border-radius: 8px;   /* Optional rounded corners */
  background-color: #fff;
  height: 20vh; /* Adjust the height as necessary */
  margin-top: 10px;
}

/* Style your buttons as needed */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
/* Dashboard.css */
.dashboard {
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }
}


